<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js"></script>
    <title>Index page</title>
</head>

<body>
  <h2>Привет ASP.NET Core</h2>
  <input type="button" value="Жми меня!" onclick="hi()">
</body>

</html>